body.change #gotop{
    background: rgba(189, 120, 253, 0.8);
    background: #ffff;
    border: 1px solid rgba(198, 141, 255, 0.8);
    color: rgb(109, 65, 255);
}

/*-----------------------scroll effect-------------------------*/
body.change::-webkit-scrollbar-track {
  background: #ba5aff;      
}

body.change::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top,#b7a1f4,#bde3fd,#ffbdd1); 
    border: 3px solid #ba5aff;  
}

/*----------------------------container-----------------------------*/
body.change .projects .container1 .swiper-slide{
    box-shadow: 0 2px 10px 8px rgba(0, 0, 0, 0.1);
}
body.change .projects .container1 .swiper-slide:hover{
    box-shadow: 0 4px 15px 5px rgba(0,0,0, 0.4);
}


body.change .contact footer h1{
    background: #7f4ec8;
    background: -webkit-linear-gradient(to right, #8a57d6, #d1a2ff); 
    background: linear-gradient(to right, #7f4ec8, #b05bff);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
}


/*------------------------------------ start-----------------------------------------*/
body.change .container header > small{
    color: rgb(212, 200, 200);
    color: #11152b;
}
body.change .container header > strong{
    color: #000;
}
body.change .container header > .span{
    color: #11152b;
}
body.change .container header > p{
    color: #000;
}
body.change .container header > p span{
    color: rgb(252, 252, 252);
}
body.change .container header > div a:first-child{
    color: #fff;
    color: #11152b;
    background: #51f1ff;
}
body.change .container header > div a:first-child:hover{
    color: #11152b;
    background: #ffff;
    box-shadow: 0 4px 16px rgba(255,255,255, 0.5);
}
body.change .container header > div a:last-child{
    color: #11152b;
    background: #ffff;
    box-shadow: 0 4px 16px rgba(255,255,255, 0.5);
}
body.change .container header > div a:last-child:hover{
    color: #000;
    background: #51f1ff;
}
body.change .container header > div a:last-child:hover ion-icon{
    color: #11152b;
}

body.change .introduction .code > div{
    background: #0F2027;  
    background: -webkit-linear-gradient(200deg, #3B4264, #262c4e, #11152b);  
    background: linear-gradient(200deg, rgba(165, 126, 244, 0.9), rgba(102, 50, 204, 0.9), rgba(98, 24, 172, 0.9));
}
body.change .introduction .code > div:first-child .comment{
    color: #ffff;
}

/*-------------------------------about----------------------------------*/
body.change .about .about-container .text{
    background: #6758d4;
    box-shadow: 0 10px 20px 5px rgba(10, 8, 36, 0.3);
}
body.change .about .about-container .text h1{
    color: #ffff;
}
body.change .about .about-container .text p{
    color: #ffff;
}

/*--------------------------slider-------------------------------*/

body.change .set::-webkit-scrollbar-track {
    background: #b676f6;  
}
  
body.change .set::-webkit-scrollbar-thumb {
    background: #f1dbfb;    
    border: 3px solid #b676f6  
}

body.change .projects .delete1, body.change.projects .delete2, 
body.change .slider .delete1, .slider .delete2,body.change .contact > h1:first-child,
body.change .contact .reach div:first-child a,body.change .contact .reach div:last-child a{
    color: #000;
}
body.change .slider .set div span{
    color: #000;
    
}
body.change .contact .four,body.change .contact .hi{
    color: #ffff;
    color: #290152;
}
body.change .projects .delete1 span, body.change.projects .delete2 span, body.change .contact .reach div:last-child h1,
body.change .slider .delete1 span, .slider .delete2 span,body.change .contact > h1:first-child span{
    color: #ffff;
    color: #6758d4;
}

/*-----------------------------------media queries----------------------------------*/
@media (max-width: 480px){
    .contact .footer{
        margin-top: 30vh;
        margin-bottom: 3.5vh;
    }

    .contact .footer h1{
        font-size: 10px;
        width: 90%;
        padding: 1.5vh 0 1.5vh 0;
    }
    
    .contact .footer h1 span{
        font-size: 12px;
        margin: 0 0.1vw 0 1.2vh;  
    }

}