.projects > div::-webkit-scrollbar {
    width: 12px;           
}
  
.projects > div::-webkit-scrollbar-track {
  background: #161d4a;
  border-radius: 20px;      
}

.projects > div::-webkit-scrollbar-thumb {
  background: #55cde8;
  border-radius: 20px;       
  border: 3px solid #161d4a;  
}

.projects{
    width: 100%;
    margin: 16vh 0 16vh 0;
}
.projects .delete2{display: none;}

.projects > div{
    width: 88%;
    display: flex;
    flex-wrap: nowrap;
    gap: 5%;
    margin: 0 6%;
    overflow: hidden;
    overflow-x: scroll;
}
.projects > div .card{
    margin: 0 0 7vh 0;
    border-radius: 15px;
    padding: 0px;
    background: #52dee5; 
    background: -webkit-linear-gradient(70deg, #f857a6, #ff5858);
    background: linear-gradient(-45deg,#ee7752,#8e6de7, #23a6d5, #23d5ab);
    background: linear-gradient(70deg, #8e6de7, #23a6d5, #52dee5);
}

.projects .card > div{
    border-radius: 15px;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.projects .card div > div:first-child{background: rgba(1, 0, 48,0.8);height: 100%;}
.projects .card div > div:first-child img{
    width: 21vw;
    object-fit: cover;
    height: 178px;
    width: 290px;
}
.projects .card div > div:first-child ul{
    width: 21vw;
    width: 290px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 11px;
    padding: 2.2vh 1.5vw; 
}
.projects .card div > div:first-child ul li{
    font-weight: normal;
    background: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 6px;
}
.projects .card div > div:last-child{
    width: 24.5vw;
    width: 325px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3.6vh 2.1vw 3.2vh 2.5vw;
    padding: 4.8vh 2.8vw 4vh 3.2vw;
    justify-content: space-between;
    background: #ffff;
    gap: 12px;
    align-items: center;
    background: #e8e6e6;
}

.projects .card div > div:last-child h4{
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;
}

.projects .card div > div:last-child p span{
    color: #3ab0ff;
}

/*---------------Projects---------------*/
.projects > div .card div > div:last-child a {
    margin-top: 10px;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
}
   
.projects > div .card div > div:last-child a:hover {
 border: 1px solid white;
}
   
.projects > div .card div > div:last-child a:active {
 box-shadow: 4px 4px 12px #c5c5c5,
             -4px -4px 12px #ffffff;
}

/*---------------------------slider---------------------------*/
.slider{
    width: 100%;
    margin-bottom: 22vh;
    margin-top: 0vh;
}
.slider .delete1, .projects > h1, .contact > h1:first-child{
    width: 92%;
    margin: 0 0 10vh 8%;
    display: flex;
    color: #c7d3ff;  
    align-items: center;
    font-weight: 400;
    font-size: 36px;
    gap: 1vw;
}

.slider .delete1 span, .projects > h1 span, .contact > h1:first-child span{
    color: #52dee5;
    font-weight: 700;
}

.slider .delete2{
    display: none;
}

.slider .technologies{
    width: 86%;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
}
.slider .technologies .set{
    gap: 60px;
    width: auto;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}
.set::-webkit-scrollbar {
    width: 12px;             
}
  
.set::-webkit-scrollbar-track {
  background: #161d4a;
  border-radius: 20px;      
}

.set::-webkit-scrollbar-thumb {
  background: #55cde8;
  border-radius: 20px;       
  border: 3px solid #161d4a;  
}
.slider .technologies .set > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider .technologies .set > div span{
    color: #c7d3ff;  
    font-weight: 400;
    font-size: 16px;
    padding: 4vh 0 0vh 0; /*here*/
    text-align: center;
}
.slider .technologies .set > div img{
    width: 91px;
}




/*-------------------------contact------------------------------*/
.contact{
    width: 100%;
}

.contact .text{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8vh 10vw 8vh 10vw;
    overflow: hidden;
}

.contact .text > div:last-child{
    flex-wrap: wrap;
}
.contact .text > div:first-child h1:first-child{
    font-size: 50px;
    font-weight: 500;
    color: #73d9ff;
    line-height: 70px;
}
.contact .text > div:first-child h1:last-child{
    font-size: 50px;
    font-weight: 500;
    color: #04e8b9;
    line-height: 70px;
}
.contact .text > div:last-child h1{
    font-size: 32px;
    font-weight: 500;
    color: #04e8b9;
    margin-bottom: 2vh;
}
.contact .text > div:last-child a{
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    color: #b0c8dd;
}
.contact .reach{
    gap: 3vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 8vw;
}

.contact .reach a ion-icon{
    font-size: 25px;
}
.contact .reach a {
    gap: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #71f8ff;
    padding: 0.6em 1.7em;
    border-radius: .6em;
    cursor: pointer;
    transition: .1s;
    font-weight: 400;
    border: 2px solid #71f8ff;
}
   
.contact .reach a:hover {
    transform: scale(1.1);
}

/*-------------------------footer------------------------------*/
.contact footer{
    width: 100%;
    margin-top: 11vh;
    margin-bottom: 3.6vh;
}

.contact footer h1{
    width: 93%;
    display: flex;
    margin: 0 auto;
    color: rgba(255, 255, 255,0.6);
    font-size: 14px;
    font-weight: 200;
    align-items: center;
    padding: 2vh 0 2vh 0;
    justify-content: center;
    border-radius: calc(2vh + 14px);
    background: -webkit-linear-gradient(to right, #4e54c8, #8f94fb); 
    background: linear-gradient(to right, #484dbe, #7e83ef);
    background: linear-gradient(to right, #4a77ea, #52afe5);
    background: #161d4a;
}

.contact footer h1 span{
    margin: 0 0.1vw 0 1.2vh;
    font-size: 18px;
}


/*----------------------media querias--------------------------*/
@media (max-width: 1000px) and (min-width: 769px){
    .contact .text{
        gap: 8vw;
        width: 84vw;
        margin: 8vh 8vw 10vh 8vw;
    }
    .contact .text > div:first-child h1:first-child{
        font-size: 45px;
        font-weight: 500;
        color: #73d9ff;
        line-height: 60px;
    }
    .contact .text > div:first-child h1:last-child{
        font-size: 45px;
        font-weight: 500;
        color: #04e8b9;
        line-height: 60px;
    }
    .contact .text > div:last-child h1{
        font-size: 30px;
    }
    .contact .text > div:last-child a{
        font-size: 30px;
        font-weight: 400;
        line-height: 35px;
        color: #b0c8dd;
    }
}

@media (max-width: 768px) and (min-width: 481px){
    .contact .text{
        flex-direction: column;
        
    }
}
@media (max-width: 780px){
    .about .about-container .img{
        display: none;
    }
    .about .about-container .text{
        width: 86%;
        margin: 8vw 7%; 
        padding: 4.5vh 7vw;
        transform: translateX(-80vw);
        backdrop-filter: blur(10px);
        background: rgb(193,193,193); 
    }

    .about .about-container .text p{
        font-size: 14px;
        margin: 3vh 0 5vh 0;
    }

    .about .about-container .text div{
        display: flex;
        padding: 0 2vw;
        justify-content:space-between;
    }

    .about .about-container .text a{
        color: #11152b;
        background: #d9a7c7;  
        background: -webkit-linear-gradient(to bottom, #ffffff, #f0dbff);  
        background: linear-gradient(to bottom, #ffffff, #f0dbff); 
        border: 1px solid rgba(167, 168, 217, 0.02);
        box-shadow: 0 0 50px #212121;
    }

    .about .about-container .text h1{
        font-size: 31px;
    }

    .circle{
        width: 46vw;
        height: 46vw;
    }
    .circle1{
        margin-left: 3vw;
    }
    .circles{
        display: flex;
        margin-left: 49vw;
        flex-direction: column;
    }
    .circle2{
        width: 38vw;
        height: 38vw;
        margin-left: 10vw;
    }
    .circle3{
        width: 25vw;
        height: 25vw;
        margin-top: 0vh;
    }

    .about .about-container .text .reflection{
        width: 18vw;
        transition: all 1.5s ease-in-out;
    }
}

@media (max-width: 480px){
    .slider .delete1, .projects .delete1{display: none;}
    .about{
        margin-top: 4vh;
    }
    .about .about-container .text{
        padding: 4.6vh 6vw 5.8vh 6vw;
        border-radius: 14px;
        background: #1c1c5c;
        background: radial-gradient(circle at 100% 0%, rgb(31, 56, 122) 0%, rgb(14, 10, 87) 50%, rgb(6, 5, 66) 70%);
        background: radial-gradient(circle at 0% 100%, rgb(18, 17, 68) 30%,rgb(18, 28, 82) 60%, rgb(46, 59, 135) 100%);
    }
    .about .about-container .text div:last-child{
        padding: 0;
        gap: 5vw;
    }
    .about .about-container .text a{
        padding: 10px 6vw;
        text-align: center;
        border-radius: 8px;
        font-size: 14px;
        margin: 0;
        padding: 10px 0;
        font-size: 15px;
        box-shadow: none;
    }
    .about .about-container .text p{
        font-size: 15px;
        margin: 3vh 0 5vh 0;
    }
    .about .about-container .text h1{
        font-size: 28px;
        font-weight: 600;
        
    }
    /*-------------Projects-------------*/
    .projects{
        width: 100%;
        margin: 13vh 0 18vh 0;
    }
    .projects > div::-webkit-scrollbar-thumb {    
        border: 3px solid #55cde8;  
    }
    .projects > div .card{
        margin: 0 0 5vh 0;  
    }

    .projects .card > div{
        border-radius: 12px;
        display: flex;
        height: 100%;
        overflow: hidden;
        flex-direction: column;
    }

    .projects .card div > div:last-child,
    .projects .card div > div:first-child img,
    .projects .card div > div:first-child ul
    {
        width: 300px;
        width: 80vw;
    }
    .projects .card div > div:first-child ul{
        gap: 11px;
        padding: 2.2vh 5vw 2.5vh 5vw; 
    }
    .projects > div{
        width: 86%;
        gap: 10%;
        margin: 0 7%;
    }
    .projects .card div > div:last-child{
        padding: 4.8vh 6vw 5vh 6vw;
        gap: 12px;
        text-align: center;
    }
    .projects .card div > div:first-child img{
        height: 178px;
        height: 20vh;
    }
    /*------------projects-------------*/
    .yourproject > h1{
        font-size: 28px;
    }
    /*--------------slider-------------*/
    body .slider .delete2, .projects .delete2, .yourproject > h1{
        width: 92%;
        margin: 0 0 5vh 10%;
        display: flex;
        color: #c7d3ff;  
        align-items: center;
        font-weight: 500;
        font-size: 28px;
        gap: 3vw;
    }  
    body .slider .delete2 span, .projects .delete2 span, .yourproject > h1 span{
        color: #52dee5;
        font-weight: 700;
    }
    .slider{
        width: 100%;
        margin-bottom: 10vh;
        margin-top: 0;

    }   
    .slider .technologies{
        width: 89%;
    }
    .slider .technologies .set{
        gap: 3.7vw;
        width: auto;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        transition: all 0.5s ease-in-out;    
    }

    .slider .technologies .set > div{
        width: 27.2vw;
        padding: 3.2vh 0;
        display: flex;
        align-items: center;
        background: -webkit-linear-gradient(to top, #3f2b96, #a8c0ff);  
        background: linear-gradient(to top,#010030,#121c52,#19235f, #2e3b87); 
        background: transparent;
        background: rgba(255, 255, 255, 0.05);
        flex-direction: column;
        border-radius: 18px;
    }
    
    .slider .technologies .set > div:hover{
        border: 1px solid #52dee5;
    }
    .slider .technologies .set > div img{
        width: 45px;
    }
    .slider .technologies .set > div span{
        padding: 1vh 0 0vh 0;
        font-size: 15px;
    } 
    .set::-webkit-scrollbar-thumb {
        border-radius: 20px;       
        background: #55cde8;
        border: 3px solid #55cde8; 
    }
    /*-------------contact--------------*/
    .contact > h1:first-child{
        width: 100%;
        display: flex;
        padding-left: 10%;
        align-items: center;
        font-weight: 400;
        font-size: 28px;
        gap: 1vw;
        margin-top: 16vh;
    }  
    .contact > h1:first-child span{
        font-weight: 700;
    }

    .contact .text{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        margin: 2vh 0 5vh 0;
    }
    .contact .text > div:first-child{
        display: none;
    }
    .contact .text > div:first-child h1:first-child, .contact .text > div:first-child h1:last-child{
        font-size: 32px;
        line-height: 40px;
    }
    .contact .text > div:last-child{
        margin-top: 3vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .contact .text > div:last-child h1{
        font-size: 20px;
        line-height: 25px;
        color: #62edd1;
        font-weight: normal;
        margin-bottom: 0.5vh;
    }
    .contact .text > div:last-child > a{
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    .contact .reach{
        gap: 5vw;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 5vw;
    }
    

    .contact .reach a {
        padding: 0em 0em;
        border-radius: 0em;
        border: 2px solid transparent;
    }
    .contact .reach a ion-icon{
        font-size: 30px;
        color: #ee56ff;      
    }

    .contact .reach .twitter ion-icon{color: #23a6d5;}

    .contact .reach .github ion-icon{color: #ffffff;}
    
    .contact .reach .linkedin ion-icon{color: #236dd5;}

    .contact .reach .codepen ion-icon{color: #e6eef3;}

    .contact .reach .gmail ion-icon{color: #db1212;}

    .contact .reach a span{
        display: none;
    }

    /*-------------footer--------------*/
    .contact .footer{
        margin-top: 15vh;
        margin-bottom: 3vh;
    }

    .contact .footer h1{
        font-size: 10px;
        width: 90%;
        padding: 1.5vh 0 1.5vh 0;
    }
    
    .contact .footer h1 span{
        font-size: 12px;
        margin: 0 0.1vw 0 1.2vh;  
    }

}

@media (max-width: 370px){
    .container .yourproject > h1{
        font-size: 23px;
    }  
    .container .yourproject > h1 span{
        font-weight: 700;
    }
    .projects .delete2, .container .slider .delete2,.yourproject > h1,body .container .contact > h1{
        font-size: 23px;
    }

    .slider .delete2{
        width: 92%;
        margin: 0 0 4vh 10%;
        display: flex;
        color: #c7d3ff;  
        align-items: center;
        font-size: 25px;
        gap: 3vw;
    }  
    .slider .delete2 span{
        color: #52dee5;
        font-weight: 700;
    }
    .slider .technologies .set > div img{
        width: 42px;
    }
    .slider .technologies .set > div span{
        font-size: 13px;
    } 

    .contact > h1:first-child{
        margin-bottom: 4vh;
        font-weight: 500;
        font-size: 25px;
        gap: 3vw;
    }  
    .contact > h1:first-child span{
        color: #52dee5;
        font-weight: 700;
    }

    .contact > .four{
        font-size: 28px;
        font-weight: 500;
        line-height: 20px;
    }
    .contact > .hi{
        font-size: 28px;
        font-weight: 500;
        color: #04e8b9;
        line-height: 28px;
        margin-bottom: 4vh;
    }


    .container1 .swiper-slide {
        height: 480px;
    }
    .container1 .swiper-slide .card-description h4{
        font-size: 20px;
        padding: 0 4vw;
        margin-bottom: 3vh;
    }
    
    .container1 .swiper-slide .card-description .card-text{
        color: rgba(0, 0, 0, 0.7);
        font-size: 13px;
        
        margin: 0 2vw;
        padding: 0 4vw;
    }
    .projects .card div > div:last-child p {
        font-size: 15px;
    }
    .projects > div .card div > div:last-child a {
        font-size: 13px;
    }
    /*------------projects--------------*/
    .about .about-container .text{
        padding: 5vh 6vw 6.5vh 6vw;
        
    }
    .about .about-container .text p{
        font-size: 12px;
        margin: 3vh 0 5vh 0;
    }

    .about .about-container .text h1{
        font-size: 22px;
    }

    .about .about-container .text a{
        border-radius: 8px;
        font-size: 14px;
    }

    .slider .delete2{
        width: 92%;
        margin: 0 0 4vh 10%;
        display: flex;
        color: #c7d3ff;  
        align-items: center;
        font-size: 25px;
        gap: 3vw;
    }  
    .slider .delete2 span{
        color: #52dee5;
        font-weight: 700;
    }

    .contact > h1:first-child{
        margin-bottom: 4vh;
        font-weight: 500;
        font-size: 25px;
        gap: 3vw;
    }  
    .contact > h1:first-child span{
        color: #52dee5;
        font-weight: 700;
    }

    .contact > .four{
        font-size: 28px;
        font-weight: 500;
        line-height: 20px;
    }
    .contact > .hi{
        font-size: 28px;
        font-weight: 500;
        color: #04e8b9;
        line-height: 28px;
        margin-bottom: 4vh;
    }


    .container1 .swiper-slide {
        height: 480px;
    }
    .container1 .swiper-slide .card-description h4{
        font-size: 20px;
        padding: 0 4vw;
        margin-bottom: 3vh;
    }
    
    .container1 .swiper-slide .card-description .card-text{
        color: rgba(0, 0, 0, 0.7);
        font-size: 13px;
        
        margin: 0 2vw;
        padding: 0 4vw;
    }
    .projects .card div > div:last-child p {
        font-size: 15px;
    }
    .projects > div .card div > div:last-child a {
        font-size: 15px;
    }
}







