@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fira+Code&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fira+Code&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');
.about{
    width: 100%;
    display: flex;
    background: #11152b;
    background: #4a00e0;
    flex-direction: column;
}

.about div:first-child{
    display: flex;
    align-items: center;
}

.about div:first-child h1{
    margin-bottom: 5vh;
    font-size: 36px;
    color: #c7d3ff;
    line-height: 40px;
    font-weight: 400;
    font-family: Sora,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about div:first-child div{
    width: 25vw;
    height: 2px;
    background: rgba(255,255,255,0.3);
}

.about-container{
    background: #ca3dc3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 65%;
    height: 35vw;
    margin: auto;
    position: relative;
}
.about .about-container .circle{
    border-radius: 50%;
    background: #8e2de2; 
    background: -webkit-linear-gradient(to top, #8e2de2, #4a00e0); 
    background: linear-gradient(to top, #8e2de2, #4a00e0);
}
.about .about-container > .circle:first-child{
    position: absolute;
    width: 30vw; 
    height: 30vw;
}
.about .about-container .box{
    width: 31vw;
    position: absolute;
    margin: auto;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    background: #5dbeff;
}

.about .about-container .box .circle{
    width: 16vw;
    height: 16vw;
}

.about .about-container .box .circle:first-child{
    margin-left: 12vw;
    width: 19vw;
    height: 19vw;
}



/*-----------------------scroll effect-------------------------*/
body::-webkit-scrollbar {
    width: 12px;             
}
  
body::-webkit-scrollbar-track {
  background: #262c4e;        
}

body::-webkit-scrollbar-thumb {
  background-color: #3B4264;  
  background-image: linear-gradient(to top,#8e6de7,#d56de7,#5dbeff);
  /*background-image: linear-gradient(to top,#56ccf2, #2f80ed);*/
  border-radius: 20px;       
  border: 3px solid #262c4e;  
}


@media (max-width: 480px) and (min-width: 320px){
    .about div:first-child h1{
        margin-bottom: 5vh;
        font-size: 18px;
        color: #c7d3ff;
        line-height: 40px;
        font-weight: 400;
        font-family: Sora,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .about-container{
        width: 82%;
    }
    .about .about-container > .circle:first-child{
        width: 34vw; 
        height: 34vw;
    }
    .about .about-container .box .circle{
        width: 20vw;
        height: 20vw;
    }
    
    .about .about-container .box .circle:first-child{
        margin-left: 15vw;
        width: 26vw;
        height: 26vw;
    }
    .about .about-container .box{
        width: 41vw;
    }
    .about-container{
        height: 41vw;
    }
}















.introduction > div:first-child{
position: relative;
}








