@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fira+Code&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fira+Code&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');

.about{
    /*width: 100%;
    background-image:url('img/hacking-etico.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;*/
    position: relative;
    display: flex;
    align-items: center;
}

.circle1,.circles{
    position: absolute;
}
.circle{
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    background: #4e54c8; 
    background: -webkit-linear-gradient(to top, #4e54c8, #8f94fb); 
    background: linear-gradient(to top, #4e54c8, #8f94fb);
}
.circle1{
    margin-left: 14vw;
}
.circles{
    display: flex;
    margin-left: 50vw;
    flex-direction: column;
}
.circle2{
    width: 23vw;
    height: 23vw;
    margin-left: 9vw;
}
.circle3{
    width: 17vw;
    height: 17vw;
    margin-top: -4vh;
}

/*---------------------------about----------------------------*/
.about-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgba(17, 21, 43,0.9);
}

.about .about-container .img{
    width: 39%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container img{
    opacity: 0;
    width:22vw;
    z-index: 999;
    transition: all 0.8s ease;
    transform: translateX(15vw); 
}

.about .about-container .text{
    opacity: 0;
    width: 55%;
    display: flex;
    padding: 5vh 5vw;
    overflow: hidden;
    position: relative;
    border-radius: 14px;
    margin: 8vw 0 8vw 6%;
    background: #171c3c;
    flex-direction: column;
    justify-content: center;
    transition: all 0.8s ease;
    transform: translateX(-15vw);
    box-shadow: 0 10px 20px 5px rgba(23, 28, 60, 0.5);
}

.about .about-container .text .reflection{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 10vw;
    z-index: 100;
    margin: auto;
    height: 100%;
    opacity: 0;
    position: absolute;
    margin-left: -70vw;
    -webkit-transform: skew(150deg);
    -moz-transform: skew(150deg);
    -ms-transform: skew(150deg);
    -o-transform: skew(150deg);
    transform: skew(150deg);
    transition: all 3s ease-in-out;
    background: rgba(255,255,255,0.5);
}

.about .about-container .text.show, 
.about .about-container .text.show h1, 
.about .about-container .text.show p, 
.about .about-container .text.show div:last-child,
.about .about-container .img img.show{
    opacity: 1;
    transform: translateX(0);
}

.about .about-container .text.show .reflection{
    margin-left: 140vw;
    opacity: 1;
}

.about .about-container .text h1{
    opacity: 0;
    color: #c7d3ff;
    transition: all 1s ease;
    transform: translateX(-25vw);
}

.about .about-container .text h1 span{
    color: #52dee5;
    margin-right: 10px;
}

.about .about-container .text p{
    opacity: 0;
    margin: 4vh 0 6vh 0;
    transition: all 1s ease;
    transform: translateX(-25vw);
    color: rgba(214, 223, 255, 0.9);
}

.about .about-container .text > div:last-child{
    opacity: 0;
    display: flex;
    justify-content:space-around;
    transform: translateX(-5vw);
    transition: all 1.4s ease-out;
}

.about .about-container .text a{
    color: #ffff;
    padding: 12px 5vw;
    text-align: center;
    margin-bottom: 1vh;
    border-radius: 20px;
    border: 2px solid #ffff;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.18);
}

.about .about-container .text a:hover{
    background: #52dee5;
}

/*---------------------------slider---------------------------*/
.slider{
    width: 100%;
    margin-bottom: 50vh;
}

.slider h1{
    background: blue;
    width: 100%;
    color: #c7d3ff;
    text-align: center;
    margin-bottom: 5vh;
}

.slider .technologies{
    width: 85%;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
}

.slider .technologies .set{
    width: auto;
    margin: 0 auto;
    width: auto;
    display: flex;
    gap: 60px;
    flex-wrap: nowrap;
    transition: all 0.5s ease-in-out;
}

/*------------------------------projects-----------------------------------*/
.projects{
    width: 100%;
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
    padding: 5vh 5vw;
    background: lightblue;
}

.projects > div{
    width: 22vw;
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.projects > h1{
    width: 100%;
    background: #5dbeff;
}

.projects > div img{
    width: 100%;
   
}
.projects .card{            
    transform-style: preserve-3d;
    perspective: 1000px;}
.projects .card div{
    width: 100%;
    padding: 0 8%;
    background: #ffff;
}

.projects .card > h1{transform: translateZ(30px);}

.projects .card div h1{
    margin: 5vh 0 3vh 0;
    text-align: center;
}
.projects .card div p{margin: 2vh 0 5vh 0;text-align: center;}
.projects .card a{ 
    background: rgb(252, 35, 227); 
    padding: 4vh 0; width: 100%;
    text-align: center;
    transform: translateZ(30px);
}


/*-----------------------scroll effect-------------------------*/
body::-webkit-scrollbar {
    width: 12px;             
}
  
body::-webkit-scrollbar-track {
  background: #262c4e;        
}

body::-webkit-scrollbar-thumb {
  background-color: #3B4264;  
  background-image: linear-gradient(to top,#8e6de7,#d56de7,#5dbeff);
  border-radius: 20px;       
  border: 3px solid #262c4e;  
}

/*----------------------media querias--------------------------*/
@media (min-width: 1201px){
    .about{
        margin: 0vh 0;
    }
}

@media (max-width: 780px) and (min-width: 120px){
    .about .about-container .img{
        display: none;
    }
    .about .about-container .text{
        width: 86%;
        margin: 8vw 7%; 
        padding: 4vh 7vw;
        backdrop-filter: blur(10px);
    }

    .about .about-container .text p{
        font-size: 14px;
        margin: 4vh 0;
    }

    .about .about-container .text div{
        display: flex;
        padding: 0 2vw;
        justify-content:space-between;
    }

    .about .about-container .text a{
        color: #11152b;
        background: #d9a7c7;  
        background: -webkit-linear-gradient(to bottom, #ffffff, #f0dbff);  
        background: linear-gradient(to bottom, #ffffff, #f0dbff); 
        border: 1px solid rgba(167, 168, 217, 0.02);
        box-shadow: 0 0 50px #212121;
    }

    .about .about-container .text h1{
        font-size: 31px;
    }

    .circle{
        width: 46vw;
        height: 46vw;
    }
    .circle1{
        margin-left: 3vw;
    }
    .circles{
        display: flex;
        margin-left: 49vw;
        flex-direction: column;
    }
    .circle2{
        width: 38vw;
        height: 38vw;
        margin-left: 10vw;
    }
    .circle3{
        width: 25vw;
        height: 25vw;
        margin-top: 0vh;
    }
    .about .about-container .text .reflection{
        display: none;
        margin-left: 0vw;
        transition: all 3s ease-in-out;
        background: rgba(255,255,255,0.5);
    }
    .about .about-container .text.show .reflection{
        margin-left: 140vw;
        opacity: 1;
    }

}

@media (max-width: 370px){
    .about .about-container .text{
        padding: 5vh 6vw;
        border-radius: 8px;
    }
    .about .about-container .text p{
        font-size: 12px;
        margin: 3vh 0 5vh 0;
    }

    .about .about-container .text h1{
        font-size: 22px;
    }
    .about .about-container .text a{
        padding: 10px 6vw;
        text-align: center;
        border-radius: 8px;
        font-size: 14px;
    }
}



/*
HTML CSSResult Skip Results Iframe
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  background: #333;
  color: #fff;
}
a,
a:hover {
  text-decoration: none;
}

.header {
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.butn:link,
.butn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #5e16bd;
  background-image: linear-gradient(90deg, #501aa8, #870de8);
  padding: 1rem 2.5rem;
  height: 6rem;
  width: 40rem;

  margin-right: 13px;
  border-radius: 4px;
  border: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.butn::before {
  background: #fff;
  content: "";
  height: 155px;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 50px;
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}
.butn::after {
  background: #fff;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 8rem;
}
.butn__new::before {
  left: -50%;
}

.butn__new::after {
  left: -100%;
}

.butn:hover,
.butn:active {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.butn__new:hover::before {
  left: 120%;
  opacity: 0.5s;
}

.butn__new:hover::after {
  left: 200%;
  opacity: 0.6;
}
.butn span {
  z-index: 20;
}


*/

