@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fira+Code&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fira+Code&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');
.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 3px solid #4a00e0;
    border-bottom: 3px solid #4a00e0;
}

.about div:first-child{
    display: flex;
    align-items: center;
}

.about div:first-child h1{
    width: 100%;
    font-size: 36px;
    font-weight: 400;
    padding-top: 10vh;
    color: #c7d3ff;
    line-height: 40px;
    text-align: center;
    padding-bottom: 2vh;
    font-family: Sora,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about-container{
    border: 1px solid rgba(0,0,0,0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 65%;
    height: 35vw;
    margin: auto;
    position: relative;
    margin-bottom: 10vh;
}
.about .about-container .circle{
    border-radius: 50%;
    background: #8e2de2; 
    background: -webkit-linear-gradient(to top, #8e2de2, #4a00e0); 
    background: linear-gradient(to top, #8e2de2, #4a00e0);
}
.about .about-container > .circle:first-child{
    position: absolute;
    width: 30vw; 
    height: 30vw;
}
.about .about-container .box{
    width: 31vw;
    position: absolute;
    margin: auto;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
}

.about .about-container .box .circle{
    width: 16vw;
    height: 16vw;
}

.about .about-container .box .circle:first-child{
    margin-left: 12vw;
    width: 19vw;
    height: 19vw;
}

.about-container .card{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    width: 80%;
    margin: auto;
    z-index: 999;
    display: flex;
    padding: 10vw;
    position: absolute;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff66;
    backdrop-filter: blur(20px);
    background: rgba(0,0,0,0.5);
}

.about-container .card p{
    font-size: 20px;
    color: rgba(255,255,255,0.8);
}
/*-----------------------scroll effect-------------------------*/
body::-webkit-scrollbar {
    width: 12px;             
}
  
body::-webkit-scrollbar-track {
  background: #262c4e;        
}

body::-webkit-scrollbar-thumb {
  background-color: #3B4264;  
  background-image: linear-gradient(to top,#8e6de7,#d56de7,#5dbeff);
  border-radius: 20px;       
  border: 3px solid #262c4e;  
}

@media (max-width: 480px) and (min-width: 320px){
    .about div:first-child h1{
        font-size: 18px;
        color: #c7d3ff;
        line-height: 40px;
        font-weight: 400;
        padding: 2vh 0 2vh 0;
        font-family: Sora,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .about-container{
        width: 90%;
        height: 54vw;
        margin-bottom: 5vh;
    }
    .about .about-container > .circle:first-child{
        width: 44vw; 
        height: 44vw;
    }
    .about .about-container .box .circle{
        width: 24vw;
        height: 24vw;
    }
    
    .about .about-container .box .circle:first-child{  
        width: 30vw;
        height: 30vw;
        margin-left: 15vw;
    }
    .about .about-container .box{
        width: 45vw; 
    }

    /*--------------card-------------*/
    .about-container .card{
        padding: 5vw;
        border-radius: 10px;
    }
    .about-container .card p{
        font-size: 11px;
        font-weight: lighter;
    }
}
























