@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fira+Code&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fira+Code&family=Inspiration&family=Inter:wght@300&family=Montserrat:wght@700&family=PT+Mono&family=Roboto:wght@300&family=Shadows+Into+Light&family=Sora:wght@300;400;600;800&display=swap');

.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h1{
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #c7d3ff;
    line-height: 40px;
    text-align: center;
    font-family: Sora, sans-serif;
    border: 1px solid green;
    font-family: Sora,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about-container .circles{
    width: 92%;
    display: flex;
    position: absolute;
}

.about-container .circles .circle{
    border-radius: 50%;
    background: #8e2de2; 
    background: -webkit-linear-gradient(to top, #8e2de2, #4a00e0); 
    background: linear-gradient(to top, #8e2de2, #4a00e0);

    background-image:url('img/cielo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.about-container .circle1{  
    width: 49vw; 
    height: 49vw;
}

.box{
    display: flex;
    flex-direction: column;
}

.about-container .circle2{  
    width: 36vw; 
    height: 36vw;
    margin-left: 6vw;
}

.about-container .circle3{  
    width: 25vw; 
    height: 25vw;
    margin-top: 2vh;
    margin-left: -2vw;
}
.text{
    width: 75%;
    min-height: 69vw;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.text p{
    width: 100%;
    font-size: 12px;
    padding: 3vh 5vw;
    border-radius: 10px;
    color: rgba(255,255,255,0.8);
    border: 1px solid rgba(255,255,255,0.4);
    backdrop-filter: blur(15px);
    transform: rotate(3deg);
    transition: all 0.2s ease-in-out;
}
.text p:hover{
    transform: rotate(0deg);
}

.text div{
    display: flex;
    gap: 4vw;
    padding: 0 4vw;
    margin-bottom: 5vh;
}

.text div a{
    background: #4a00e0;
    padding: 10px 4vw;
    font-size: 13px;
    border-radius: 5px;
}

/*------------------------wavw effect--------------------------*/


/*-----------------------scroll effect-------------------------*/
body::-webkit-scrollbar {
    width: 12px;             
}
  
body::-webkit-scrollbar-track {
  background: #262c4e;        
}

body::-webkit-scrollbar-thumb {
  background-color: #3B4264;  
  background-image: linear-gradient(to top,#8e6de7,#d56de7,#5dbeff);
  border-radius: 20px;       
  border: 3px solid #262c4e;  
}

@media (min-width: 1201px){
    .about-container{
        width: 100%;
    }
    .about-container .circles{
        width: 75%;
    }

    .about-container .circle1{  
        width: 38vw; 
        height: 38vw;
    }
    
    .box{
        display: flex;
        flex-direction: column;
    }
    
    .about-container .circle2{  
        width: 27vw; 
        height: 27vw;
        margin-left: 10vw;
    }
    
    .about-container .circle3{  
        width: 15vw; 
        height: 15vw;
        margin-top: 2vh;
        margin-left: -2vw;
    }
    .text{
        width: 60%;
        min-height: 43vw;
        background: transparent;
    }
    
    .text p{
        width: 100%;
        padding: 5vh 6vw;
        font-size: 35px;
        backdrop-filter: blur(15px);
    }

}

@media (max-width: 480px) and (min-width: 320px){

   
}

@media (max-width: 320px){
 
}

